{{#each opportunities as |opportunity|}}
  <option>
		{{opportunity.name}}
  </option>
{{/each}}


	{{!-- {{#link-to 'companies.show.opportunities.show' opportunity}} --}}
    {{!-- {{opportunity.name}} --}}
  {{!-- {{/link-to}} --}}