op here

{{#ivy-tabs class="tabbable tabs-left horizontal-tabs opportunity-tabs"}}
  {{#ivy-tab-list class="nav nav-tabs nav-justified"}}
    {{#ivy-tab}}
      {{nop-link title="About the opportunity"}}
    {{/ivy-tab}}
    {{#ivy-tab}}
      {{nop-link title="Locations and dates"}}
    {{/ivy-tab}}
    {{#ivy-tab}}
      {{nop-link title="What's on offer"}}
    {{/ivy-tab}}
    {{#ivy-tab}}
      {{nop-link title="Application requirements"}}
    {{/ivy-tab}}
  {{/ivy-tab-list}}

  {{#ivy-tab-panel class="opp-summary"}}
    <h2>Foo</h2>
  {{/ivy-tab-panel}}

  {{#ivy-tab-panel}}
    <h2>Bar</h2>
  {{/ivy-tab-panel}}

  {{#ivy-tab-panel class="requirements"}}
    <h2>Baz</h2>
  {{/ivy-tab-panel}}
{{/ivy-tabs}}
<div>
  <div class='tab-content'>
    <div class='tab-pane opp-summary row active'>
      <div class='div'>
        <p>
        </p>
      </div>
      <div class='stats-bar clearfix'>
        <div class='col-xs-8'>
          <div class='top'></div>
          <div class='bottom'></div>
        </div>
        <div class='col-xs-8'>
          <div class='top'></div>
          <div class='bottom'></div>
        </div>
        <div class='col-xs-8'>
          <div class='top'></div>
          <div class='bottom'></div>
        </div>
      </div>
      <div class='social-media-bar clearfix'>
      </div>
    </div>
    <div class='tab-pane fade'>
      <div class='map-canvas'>
      </div>
    </div>
    <div class='tab-pane'>
      <div class='row'>
        <div class='col-md-11'>
          <div class='col-md-24'>
            <h4>Key offerings</h4>
            <br>
            <div class='row tags-icons'>
            </div>
            <br>
            <hr>
          </div>
        </div>
        <div class='col-md-1 hidden-xs'>
          <div class='border-middle'></div>
        </div>
        <div class='visible-xs-block'>
          <hr>
        </div>
        <div class='col-md-11'>
          <div class='col-md-24'>
            <h4>What you will learn</h4>
            <br>
            <ul class='bullet_list gray'>
            </ul>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='clearfix'></div>
      </div>
    </div>
    <div class='tab-pane requirements'>
      <div class='row'>
        <div class='col-md-11'>
          <div class='col-md-24'>
            <h4>Qualification level</h4>
            <br>
            <div class='row tags-icons'>
            </div>
            <hr>
          </div>
          <div class='col-md-24'>
            <h4>Field(s) of study</h4>
            <br>
            <div class='visible-xs col-xs-24'></div>
            <div class='tags' id='fields-of-study'>
            </div>
            <hr>
          </div>
          <div class='col-md-24'>
            <h4>Technical Competencies</h4>
            <br>
            <div class='visible-xs col-xs-24'></div>
            <div class='tags'>
            </div>
            <hr>
          </div>
          <div class='col-md-24'>
            <h4>Behavioural Competencies</h4>
            <br>
            <div class='visible-xs col-xs-24'></div>
            <div class='tags'>
            </div>
          </div>
        </div>
        <div class='hidden-xs'>
          <div class='col-md-1'>
            <div class='border-middle'></div>
          </div>
        </div>
        <div class='col-md-11'>
          <div class='col-md-24 text-center'>
            <h4>Grade attained</h4>
            <br>
            <canvas class='grade_attained_canvas'></canvas>
            <hr>
          </div>
          <div class='col-md-24 text-center'>
            <h4>Work Experience</h4>
            <br>
            <div class='work_experience'>
            </div>
            <hr>
          </div>
          <div class='col-md-24 text-center'>
            <h4>Citizenship</h4>
            <br>
            <div class='flags'>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-24'>
        <div class='links text-center'>
        </div>
      </div>
    </div>
  </div>
</div>